.aside {
  /* width: 33%; */
  /* float: right; */
  /* box-shadow: -3px 0px 5px black; */
  /* padding: 10px; */
  border-radius: 5px;
  text-align: center;
}
.redes-sociales {
  margin-bottom: 20px;
  text-align: center;
}
.redes-sociales > a {
  padding: 5px;
}
.redes-sociales > a > img {
  width: 25%;
  border-radius: 25%;
}
.redes-sociales > a > img:hover {
  box-shadow: 10px 5px 5px #bababa;
}

.clear {
  clear: both;
}
.buscador > input {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 30px;
}
.publicaciones {
  display: grid;
  grid-template-columns: repeat(1fr, 2fr);
}
.publicaciones > img {
  max-width: 100%;
  grid-column: 1/2;
  padding: 30px;
}

.resumen {
  grid-column: 2/2;
}

#search-box:hover {
  width: 200px;
}
