.section {
  display: flex;
  justify-content: center;
}

.section-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: [inicio] 1fr 1fr 1fr [aside] 1fr[fin];
  grid-template-rows: [inicio] 1fr 1fr[fin];
  grid-gap: 20px;
}

.destacados {
  grid-column: inicio/aside;
  grid-row: inicio/fin;
}

.aside {
  grid-column: aside/fin;
  grid-row: inicio/fin;
}
