.destacados-container {
  display: grid;
  grid-template-columns: [inicio] 0.5fr [dos]2fr[tres] 0.5fr [fin];
  grid-template-rows: [inicio]0.3fr [dos]1fr [tres] 1fr [cuatro] 1fr [fin];
  grid-gap: 5px;
}

.destacados-container * {
  max-height: 35vh;
}

.destacados-container img {
  max-height: 15vh;
}

.destacados-title {
  grid-column: inicio / fin;
}
.imagen {
  text-align: center;
  padding: 10px;
}
.imagen > img {
  border-radius: 2em;
  width: 1fr;
}

.boton {
  position: relative;
}

.boton-position {
  height: 6vh;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 13vw;
}

.texto {
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .destacados-container {
    display: block;
  }
  .destacados-container * {
    max-height: 100%;
  }
}
