.redes-sociales {
  margin-bottom: 20px;
  text-align: center;
}
.redes-sociales > a {
  padding: 5px;
}
.redes-sociales > a > img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 25%;
}
.redes-sociales > a > img:hover {
  box-shadow: 10px 5px 5px #bababa;
}
